.profile--picture {
  width: 90vh;

  img {
    max-width: 100%;
    height: auto;
  }

}

.introduction {
  h3 {
    font-size: 3vh;
    line-height: 4vh;
    color: #F77F00;
  }
  p {
    font-size: 2.5vh;
    line-height: 4vh;
    color: #003049;
  }

}