<div class="footer">

  <div class="footer-links">
    <a href="https://github.com/cgawlowski" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/ici_myrtille" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/in/cyrille-gawlowski-42436643" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-email">
    <div><i class="fa-solid fa-envelope"></i></div>
    <div><p>gawlowski.cyrille@gmail.com</p></div>
  </div>

  <div class="footer-copyright">
    <i class="fa-sharp fa-solid fa-copyright"></i>
    <p>2023</p>
  </div>

</div>
