<div class="footer d-flex flex-direction-row align-items-center justify-content-between">

  <div class="footer-links d-flex flex-direction-row align-items-center">
    <a href="https://github.com/cgawlowski" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/ici_myrtille" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/in/cyrille-gawlowski-42436643" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-email d-flex align-items-center justify-content-around">
    <div class="d-flex align-items-center"><i class="fa-solid fa-envelope"></i></div>
    <div class="d-flex align-items-center">gawlowski.cyrille@gmail.com</div>
  </div>

  <div class="footer-copyright d-flex flex-direction-row align-items-center justify-content-around">
    <div><i class="fa-sharp fa-solid fa-copyright"></i></div>
    <div>2023</div> 
  </div>

</div>
