<div class="footer d-flex flex-direction-row align-self-center justify-content-between">

  <div class="footer-links d-flex flex-direction-row align-self-center">
    <a href="https://github.com/cgawlowski" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/ici_myrtille" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/in/cyrille-gawlowski-42436643" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-email d-flex flex-direction-row align-self-center">
    <div><i class="fa-solid fa-envelope"></i></div>
    <div><p>gawlowski.cyrille@gmail.com</p></div>
  </div>

  <div class="footer-copyright d-flex flex-direction-row align-self-center">
    <i class="fa-sharp fa-solid fa-copyright"></i>
    <p>2023</p>
  </div>

</div>
