<div class="container row--direction">
    <div class="profile--picture">
      <%= cl_image_tag("https://res.cloudinary.com/dus151ezt/image/upload/v1676954279/62488304_xgejje.jpg", crop: :fill) %>
    </div>
  <div class="introduction">
    <h3>
      Hey I’m Cyrille,
    </h3> 
    <p>
      a fullstack web developer. This is my tech portfolio and here you’ll find my code projects but also some of my side projects as a woodworker.</p>
    <h3>
      About me
    </h3>
    <p>
      After long studies (and a short career) in geopolitical analysis in France, Poland and Canada, I’ve been working in Finance for the last 5 years.
      <br>In 2020 I completed a full stack web development bootcamp in Montreal, then started freelancing.
    </p>
    <h3>
      Technologies
    </h3> 
    <p>
      I’m building apps using Ruby on Rails, HTML, CSS SQL, and MVC models, web pages behaviour programming using JavaScript, jQuery, AJAX and Bootstrap.
    </p>
  </div>


</div>

