<div class="home container">
    <div class="home--picture">
      <%# <%= cl_image_tag("https://res.cloudinary.com/dus151ezt/image/upload/v1676524112/Group_13_vrjjmp.svg", crop: :fill) %> %>
    </div>
    <%= link_to "Launch your website!", web_path %>
</div>