<div class="home">
    <div class="home--picture">
      <%= cl_image_tag("https://res.cloudinary.com/dus151ezt/image/upload/v1676524112/Group_13_vrjjmp.svg",
       width: 800, crop: :fill) %>
    </div>
    <div class="catchphrase">
      <p>Launch your website!</p>
    </div>
</div>