<div class="container web d-flex justify-content-center">
  <div>
    <h4 class="d-flex justify-content-center">Section under construction</h4>
    <iframe src="https://giphy.com/embed/fVeAI9dyD5ssIFyOyM" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>