<div class="container">
  <h1>Woodworking projects</h1>
  <% @projects.each do |project| %>
    <% if project.is_woodworking == true %>

      <% project.photos.each do |photo| %>
        <% if project.photos[0] %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% break %> 
        <% end %>
      <% end %>

      <%= link_to "See details", project_path(project)  %>
    <% end %>
  <% end %>
  <h2><%= link_to "Add new project", new_project_path %></h2>
</div>