<div class="container">
  <div class="row">

    <% @projects.each do |project| %>
      <% if project.is_woodworking == true %>
        <div class="col-6">

          <div class="card m-3" style="width: 30vw;">

            <div class="card-img-top">
              <% project.photos.each do |photo| %>
                <% if project.photos[0] %>
                  <%= cl_image_tag photo.key, crop: :fill %>
                  <% break %> 
                <% end %>
              <% end %>
            </div>

            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center"><%= link_to project.name, project_path(project) %></h3>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>