<h1>Index</h1>
<h2><%= link_to "Add new project", new_project_path %></h2>
<p> </p>
<% @projects.each do |project| %>
    <h2><%= project.name %></h2>
    <p><%= project.description %></p>
    <%= link_to "See details", project_path(project)  %>
<% end %>