<h1>Index</h1>
<h2><%= link_to "Add new project", new_project_path %></h2>
<p> </p>
<% @projects.each do |project| %>
        <%# <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill %>
        <%= cl_image_tag project.preview_picture, height: 300, width: 400, crop: :fill %>
    <%= link_to "See details", project_path(project)  %>
<% end %>