<div class="home">
    <p>Web projects</p>
    <% @projects.each do |project| %>
            <%# Actual pictures (Active Storage): %>
            <%# <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill %>
            
            <%# Preview_picture (for Seed only): %>
            <%= cl_image_tag project.preview_picture, height: 300, width: 400, crop: :fill %>
        <%= link_to "See details", project_path(project)  %>
    <% end %>
        <h2><%= link_to "Add new project", new_project_path %></h2>

</div>