.card-img-overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #fcbf49;
  display: flex;
  justify-content: center;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-img-overlay .card-title a:link, .card-title a:visited, .card-title a:active  {
  color: white;
  text-decoration: none;
}

.card:hover .card-img-overlay {
  opacity: 1;
}
.card-title a:hover {
  text-decoration: none;
  font-weight: bold;
}

.card-columns {
  margin-left: 100px;
  margin-right: 100px;
}

.card-text {
  display:flex;
  justify-content: center;
}