.card {

  img {
    width:100%;
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    color: #d62828;
  }

  a:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
      text-decoration: none;
    }
  a:active {
      text-decoration: none;
    }
}

// .card-img-overlay {
//   opacity: 0;
//   transition: .5s ease;
//   background-color: rgba(216, 151, 60, 0.85);
//   display: flex;
//   justify-content: center;
// }

// .card img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// .card-img-overlay .card-title a:link, .card-title a:visited, .card-title a:active  {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 20px;
//   line-height: 25px;
//   letter-spacing: 0.05em;
//   color: white;
// }

// .card:hover .card-img-overlay {
//   opacity: 1;
// }
// .card-title a:hover {
//   text-decoration: none;
//   font-weight: bold;
// }

// .card-text {
//   display:flex;
//   justify-content: center;
// }