.footer {
  // position: fixed;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vh;
  
  background: #003049;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: #EAE2B7;
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: #EAE2B7;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }

  a:hover {
    opacity: 0.40;
    transition: opacity 0.5s;
    text-decoration: none;
  }
}

.footer-email {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 19%;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5%;
}
